*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #DDE1E7;
}
#input-from img{
    width: 200px;
    height: 100px;
    position: absolute;
    top: 60px; 
    border-radius: 10px;
    box-shadow: 3px 1px 2px 1px;
}
#input-from {
     position: relative; 
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: #DDE1E7;
   
}
.about-from {
    background-color: #DDE1E7;
    padding: 60px 20px;
    text-align: center;
    width: 400px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px ;
}
.about-from  *{
    margin-bottom: 15px;
}
.about-from input {
    padding: 17px 10px;
    border: none;
    border-radius: 10px;
    width: 100%;
}
@media screen and (max-width:577px){

#input-from img{
    width: 200px;
    height: 100px;
    position: absolute;
    top: 1px; 
    border-radius: 10px;
    box-shadow: 3px 1px 2px 1px;
}
.about-from {
    background-color: #DDE1E7;
    padding: 60px 20px;
    text-align: center;
    width: 90%;
    height: 80vh;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px ;
}

}